.lyrics {
  white-space: pre-line;
}

.input {
  display: flex;
  padding: 40px;
}

.lyricgrid {
  display: grid;
  grid-template-columns: 1.0fr, 6.0fr, 1.0fr;
  padding: 20px;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color:lightgreen;
}

